@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
main {
  display: flex;
  /* gap: 20px; */
  padding: 20px;
}
.product-image {
  display: block;
  height: auto;
  max-width: 100%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}
.checkout-info {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  gap: 40px;
  background-color: white;
  padding: 20px;
  margin-bottom: 0;
}
h1 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
}
h1 + p {
  width: 10ch;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 45px;
  line-height: 1;
  color: hsl(212, 21%, 14%);
}
.description {
  width: 26ch;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  color: hsl(228, 12%, 48%);
}
.price {
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 4px;
}
.total-price {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 45px;
  color: hsl(158, 36%, 40%);
}
.discount {
  text-decoration: line-through;
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
  color: hsl(228, 12%, 48%);
}
#cartText {
  display: inline-flex;
  gap: 8px;
}
.cart-icon {
  height: 15px;
  width: 15px;
}
button {
  width: 100%;
  padding: 15px;
  background-color: hsl(158, 36%, 40%);
  color: white;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: hsl(158, 36%, 18%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
}
@media (min-width: 1024px) {
  .product-image {
    height: 750px;
    object-fit: contain;
  }
  .checkout-info {
    gap: 40px;
  }
  h1 {
    font-size: 22px;
  }
  h1 + p {
    font-size: 60px;
  }
  .description {
    font-size: 22px;
  }
  .price {
    gap: 22px;
  }
  .total-price {
    font-size: 60px;
  }
  .discount {
    font-size: 22px;
    margin-top: 22px;
  }
  button {
    padding: 25px;
    font-size: 22px;
  }
  .cart-icon {
    height: 25px;
    width: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .product-image {
    height: 400px;
    object-fit: contain;
  }
  .checkout-info {
    gap: 20px;
  }
  h1 {
    font-size: 12px;
  }
  h1 + p {
    font-size: 32px;
  }
  .description {
    font-size: 12px;
  }
  .price {
    gap: 10px;
  }
  .total-price {
    font-size: 32px;
  }
  .discount {
    font-size: 12px;
    margin-top: 12px;
  }
  button {
    padding: 10px;
    font-size: 10px;
  }
  .cart-icon {
    height: 10px;
    width: 10px;
  }
}
@media (max-width: 767px) {
  body {
    gap: 0;
  }
  main {
    flex-direction: column;
  }
  .product-image {
    border-top-right-radius: 11px;
    border-bottom-left-radius: 0;
    height: 265px;
    width: 100%;
    object-fit: cover;
  }
  .checkout-info {
    border-bottom-left-radius: 11px;
    border-top-right-radius: 0;
    gap: 15px;
  }
  h1 {
    letter-spacing: 5px;
    font-weight: 550;
    font-size: 13px;
  }
  h1 + p {
    width: 13ch;
    font-size: 35px;
    font-weight: 700;
    color: hsl(212, 21%, 15%);
  }
  .description {
    width: 31.5ch;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 500;
  }
  .price {
    gap: 20px;
  }
  .total-price {
    font-size: 35px;
    font-weight: 700;
  }
  .discount {
    font-size: 14px;
    margin-top: 12px;
  }
  button {
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
  }
  .cart-icon {
    height: 19px;
    width: 17.5px;
  }
}
